HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/bootstrap/openrussian_dump/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/adjectives.csv
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/nouns.csv
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/translations.csv
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/verbs.csv
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/words.csv
/src/main/java/com/havlin/daniel/russian/bootstrap/openrussian_dump/words_forms.csv
